.hidden{
    display: none;
}
.show{
    display: block;
}
/* Resetowanie domyślnych marginesów */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36454c;
    padding: 1vh 2vh;
    color: #e4e4e4;
}

.header .logo {
    height: 50px;
}

.main-menu a, .login-button {
    color: #e4e4e4;
    text-decoration: none;
    margin-left: 20px;
}

/* Sekcja wyboru hotelu */
/* Ogólny styl */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('tlo.png'); /* Ścieżka do obrazu */
    background-size: cover; /* Dopasowanie obrazu do rozmiaru sekcji */
    background-position: center; /* Wyśrodkowanie obrazu */
    color: white;
    text-align: center;
    padding: 60px 20px;
}


.hero-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-section button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Zielony kolor przycisku */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hero-section button:hover {
    background-color: #45a049;
}

/* Sekcja funkcji */
.features-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f4f8; /* Delikatny jasnoniebieski kolor tła */
    border-top: 3px solid #4CAF50; /* Zielona linia górna */
    border-bottom: 3px solid #4CAF50; /* Zielona linia dolna */
}

.features-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    background-color: #ffffff; /* Białe tło karty */
    border: 1px solid #ddd; /* Lekkie obramowanie */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Większy cień dla głębi */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Animacja */
}

.feature:hover {
    transform: translateY(-10px); /* Lekko podnosi się po najechaniu */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Zwiększony cień */
}

.feature h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4CAF50; /* Zielony akcent dla nagłówków */
}

.feature p {
    font-size: 14px;
    color: #666;
}

.feature i {
    font-size: 36px;
    color: #4CAF50; /* Zielony kolor ikon */
    margin-bottom: 10px;
}


/* Testimonials Section */
.testimonials-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #516065; /* Ciemny kolor tła */
    color: white;
}

.testimonials-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.testimonials-section blockquote {
    font-size: 18px;
    font-style: italic;
    color: #ecf0f1;
    margin-bottom: 15px;
}

.invite-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f4f8; /* Ciemny kolor tła */
    color: white;
}

.invite-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.invite-section button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Zielony kolor przycisku */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.invite-section button:hover {
    background-color: #45a049;
}

/* Dodatkowe elementy */
.header nav {
    background-color: #36454c; /* Kolor tła nawigacji */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.header nav a:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


/* Stopka */
footer {
    background-color: #36454c;
    color: #e4e4e4;
    text-align: center;
    padding: 1vh 0;
}

/* Formularz logowania */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #505f64; /* Ciemniejszy odcień szaro-niebieskiego */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e4e4e4; /* Jasny kremowy tło kontenera logowania */
}

.login-container h2 {
    text-align: center;
    color: #333; 
}

.login-container label {
    padding-right: 15px;
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #36454c; /* Ciemny szary dla tekstu etykiety */
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0px 15px;
    border: 1px solid #505f64; /* Ciemniejszy szaro-niebieski */
    border-radius: 4px;
}

p {
    text-align: center;
    margin-top: 15px;
  }
  
  p a {
    color: #4CAF50; /* Kolor linku */
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
    color:#45a049;
  }

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Szaro-niebieski dla przycisku */
    color: #e4e4e4; /* Jasny kremowy dla tekstu przycisku */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #45a049; /* Ciemniejszy szaro-niebieski przy hover */
}
.logo {
    height: 50px; /* Dopasuj wysokość obrazka w pikselach */
    width: auto;
}
.loading-spinner {
    display: block;
    margin: 20px auto;
    border: 4px solid #e4e4e4;
    border-top: 4px solid #516065;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.hotel-list-container {
    margin: 20px;
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filters input, .filters select, .filters button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Sekcja dla listy hotelu*/
.hotel-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotel-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hotel-image {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.hotel-info {
    flex: 2;
}

.hotel-info h3 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.hotel-info p {
    margin: 0;
    color: #555;
}

.hotel-info .hotel-features {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    color: #4CAF50;
}

.hotel-info .hotel-features li {
    margin-bottom: 5px;
}

.hotel-price {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hotel-price p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.manage-button {
    padding: 10px 15px;
    background-color: #FF5722; /* Pomarańczowy przycisk */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.manage-button:hover {
    background-color: #E64A19; /* Ciemniejszy odcień pomarańczowego */
    text-decoration: none;
}

/* Sekcja dla współpracy */
.collaboration-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-with-background {
    position: relative;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('hotel-collaboration.jpg'); /* Ścieżka do obrazu */
    background-size: cover; /* Dopasowanie obrazu do rozmiaru kontenera */
    background-position: center; /* Wyśrodkowanie obrazu */
    background-repeat: no-repeat; /* Brak powtarzania obrazu */
    padding: 80px 20px; /* Wewnętrzne marginesy */
    border-radius: 10px; /* Zaokrąglenie rogów */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtelny cień */
}

.header-with-background h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Cień tekstu dla lepszej czytelności */
}

.header-with-background p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Cień tekstu */
}

.collab_features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.collab_feature {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collab_feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.collab_feature h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4CAF50;
}

.collab_feature p {
    font-size: 14px;
    color: #666;
}

.icon-dashboard, .icon-reservation, .icon-stats, .icon-team {
    font-size: 36px;
    color: #4CAF50;
    margin-bottom: 10px;
}

#reservation-list .reservation-link  {
    font-style: italic; /* Kursywa */
    margin: 10px 0; /* Dodanie przestrzeni nad i pod tekstem */
  }

.offer {
    background: #76929f; /* Gradientowe tło */
    color: white;
    text-align: left;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.offer h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.offer ul {
    list-style: none;
    padding: 0;
}

.offer ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.cta {
    margin-top: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cta h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.cta button {
    padding: 10px 20px;
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta button:hover {
    background-color: #45a049;
    color: white;
}

/* Dane kontaktowe */
#contact-info {
    margin-top: 20px;
    background-color: #4CAF50;
    padding: 15px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#contact-info p {
    margin: 5px 0;
    text-align: center;
}


.hotel-switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

/* Styl dla kontenera dashboardu  #516065 */
.dashboard-container {
    display: flex;
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    font-family: Arial, sans-serif; /* Ogólny font */
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #516065;
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Delikatny cień */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #34495e;
  }
  
  /* Główna treść */
  .main-content {
    flex: 1; /* Główna treść zajmuje resztę miejsca */
    background-color: #ffffff;
    padding: 20px;
    border-left: 1px solid #ddd; /* Linia oddzielająca sidebar */
    overflow-y: auto;
  }
  
  /* Nagłówek głównej treści */
  .main-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 5px;
    color: #2c3e50;
  }
  
  /* Opcje rozwijane */
  .option-link {
    display: block;
    margin: 15px 0;
    cursor: pointer;
    color: #3498db;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .option-link:hover {
    color: #36454c;
  }
  
  /* Podmenu */
  .submenu {
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Formularz zdarzeń */
  .submenu form {
    display: flex;
    flex-direction: column;
  }
  
  .submenu select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submenu button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .submenu button:hover {
    background-color: #1abc9c;
  }
  
  /* Pusta treść (gdy brak wybranej rezerwacji) */
  .main-content p {
    font-size: 18px;
    color: #7f8c8d;
    text-align: center;
    margin-top: 50px;
  }

  .history {
    margin-top: 15px;
  }
  
  .history-item {
    margin-bottom: 15px;
  }
  
  .history-title {
    font-weight: bold;
    color: #3498db;
    cursor: pointer;
    text-decoration: none;
  }
  
  .history-title:hover {
    color: #1abc9c;
  }
  
  .history-details {
    margin-left: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  
/* Główna treść */
.content {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
    z-index: 1000; /* Modal wyświetlany nad resztą strony */
  }

  .add-reservation-format {
    max-width: 600px; /* Maksymalna szerokość */
    width: 90%; /* Wypełnia całą dostępną przestrzeń */
    margin: 20px auto; /* Wyśrodkowanie formularza */
    padding: 20px; /* Więcej przestrzeni wewnątrz formularza */
    background-color: #f9f9f9; /* Delikatne tło */
    border: 1px solid #ddd; /* Obrys */
    border-radius: 10px; /* Zaokrąglenie */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
  }
  
  .add-reservation-form {
    max-width: 600px; /* Maksymalna szerokość */
    width: 90%; /* Wypełnia całą dostępną przestrzeń */
    margin: 20px auto; /* Wyśrodkowanie formularza */
    padding: 20px; /* Więcej przestrzeni wewnątrz formularza */
    background-color: #f9f9f9; /* Delikatne tło */
    border: 1px solid #ddd; /* Obrys */
    border-radius: 10px; /* Zaokrąglenie */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
    max-height: 800px;
    overflow-y: auto;
  }
  
  .add-reservation-form form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Większy odstęp między polami */
  }
  
  .add-reservation-form label {
    font-size: 16px; /* Większa czcionka dla etykiet */
    font-weight: bold;
    color: #333;
  }
  
  .add-reservation-form input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%; /* Wypełnia całą szerokość */
  }
  
  .add-reservation-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-reservation-form button:hover {
    background-color: #45a049;
  }

  /* Szczegóły hotelu */
.reservation-hotel-details {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 87.5%;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-hotel-details img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .reservation-hotel-info {
    flex: 1;
  }
  
  .reservation-hotel-info h3 {
    margin: 0;
    font-size: 22px;
    color: #333;
  }
  
  .reservation-hotel-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .reservation-hotel-info ul {
    list-style: none;
    padding: 0;
  }
  
  .reservation-hotel-info li {
    color: #28a745; /* Zielony kolor */
    font-weight: bold;
  }

  .reservation-select {
    appearance: none; /* Usunięcie domyślnego wyglądu przeglądarki */
    width: 95%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
  }
  
  .reservation-select:focus {
    border-color: #28a745; /* Zielone obramowanie przy focus */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  }

  .hotel-main-image {
    text-align: center;
    cursor: pointer;
  }
  
  .hotel-main-thumbnail {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .hotel-main-thumbnail:hover {
    transform: scale(1.05);
  }
  
  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .gallery-image {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }

  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px; /* Maksymalna szerokość */
    cursor: pointer;
    overflow: hidden; /* Ukrywa elementy wychodzące poza kontener */
    border-radius: 10px; /* Dopasowuje zaokrąglenie do zdjęcia */
  }

  .image-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); /* Efekt cienia dla lepszej czytelności */
    text-align: center;
    pointer-events: none; /* Tekst nie zakłóca kliknięcia obrazu */
  }
  

  





@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
  .hotel-details-container {
    flex-direction: column;
  }
}