.PayMain {
    display: flex;
    margin: 2vh 10vw;
    height: 65.3vh;
}

.PayListElement {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
}

.PayListElement p {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

.ElementLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
}

/*CSS ODPOWIEDZIALNY ZA LISTY Z RACHUNKAMI*/

.BillListMain { /* Główny kontener listy z wyszukiwarką pokojów */
    height: 98%; 
    width: 100%; 
    padding-bottom: 15px;
    border: 0.35vh solid hsla(0, 0%, 0%, 0.41);
    border-radius: 5vh; 
    display: flex;
    flex-direction: column; /* Układ w kolumnie */
    align-items: center; /* Wyśrodkowanie elementów w poziomie */
    background-color: hsl(195, 11%, 60%);
    box-shadow: 2vh 2vh 2vh hsla(0, 0%, 0%, 0.33);
}

.BillListMain h2 { /* Tytuł kontenera */
    text-align: center;
    font-size: 5vh;
    margin: 1vh 0 0 0;
    padding: 1vh;
}

.BillListMain ul { /* Lista konternra z wyszukiwarką pokojów */
    flex: 1;
    width: 90%;
    overflow-y: auto; /* Dodanie paska przewijania */
    scrollbar-color: hsl(195, 11%, 70%) hsl(195, 11%, 85%);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.BillListElement { /* Element listy z pokojami */
    display: flex;
    align-items: center;
    width: 99%;
    margin-bottom: 1px;
    border: 0.01vh solid hsla(0, 0%, 0%, 0.41);
    background-color: hsl(195, 11%, 75%);
    text-align: center;
    font-size: 2.2vh;
    font-weight: bold; /* Pogrubienie */
    color: inherit; /* Zachowuje kolor tekstu */
    transition: transform 0.3s ease, color 0.3s ease; /* Animacja przejścia */
}

.BillListElement:hover { /* Efekt najechania na element listy z pokojami */
    background-color: hsl(195, 11%, 70%);
    cursor: pointer; /* Zmiana kursora przy najechaniu */
}

.BillListSearcher { /* Wyszukiwarka w tablicy z pokojami */
    width: 90%;
    height: 25%;
    margin: 0 0 10px 5px;
    background-color: hsl(195, 11%, 85%);
    border: 1px solid hsla(0, 0%, 0%, 0.41);
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    text-align: center;
}

/*CSS odpowiedzialny na sortbar*/

.paySortFilters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    padding-inline: 0;
    margin: 0;
    margin-bottom: 1vh;
    background-color: hsl(195, 11%, 60%);
    gap: 3vh;
}

.filter {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin: 0;
    padding: 0;
    width: auto; /* Zachowuje elastyczność w dostosowywaniu się do zmieniających się rozmiarów */
    font-size: 2.2vh;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.paySortFilters .filter p:first-of-type {
    text-decoration: underline;
  }
 
.typer:hover{
    color: hsl(195, 11%, 70%);
    cursor: pointer;
    transform: scale(1.1); /* Powiększenie */
}

/*sortowanie - zwijajace sie to w dol*/
.selectSort{
    height: 5vh;
    margin-top: 1vh;
    border: 1vh solid hsla(0, 0%, 0%, 0.33);
    border-radius: 5vh;
    background-color: hsl(195, 11%, 95%);
    text-align: center;
}

.sort{
    text-align: center;
    background-color: hsl(195, 11%, 95%);

}


